<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>main</title>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0" background="../static/back2.jpg">
<div id="container" style="height: 100%; margin: 0"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    app.title = 'main';

    var option = {
        tooltip : {
            show : true,   //默认显示
            showContent:true, //是否显示提示框浮层
            trigger:'item',//触发类型，默认数据项触发
            triggerOn:'mousemove',//提示触发条件，mousemove鼠标移至触发，还有click点击触发
            alwaysShowContent:false, //默认离开提示框区域隐藏，true为一直显示
            showDelay:0,//浮层显示的延迟，单位为 ms，默认没有延迟，也不建议设置。在 triggerOn 为 'mousemove' 时有效。
            hideDelay:200,//浮层隐藏的延迟，单位为 ms，在 alwaysShowContent 为 true 的时候无效。
            enterable:false,//鼠标是否可进入提示框浮层中，默认为false，如需详情内交互，如添加链接，按钮，可设置为 true。
            position:'right',//提示框浮层的位置，默认不设置时位置会跟随鼠标的位置。只在 trigger 为'item'的时候有效。
            confine:false,//是否将 tooltip 框限制在图表的区域内。外层的 dom 被设置为 'overflow: hidden'，或者移动端窄屏，导致 tooltip 超出外界被截断时，此配置比较有用。
            transitionDuration:0.4,//提示框浮层的移动动画过渡时间，单位是 s，设置为 0 的时候会紧跟着鼠标移动。
        },
        legend : { //=========圖表控件
            show : true,
            data : [
                {
                    name:'LPL',
                    icon:'rect'//'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'
                }, {
                    name:'LEC',
                    icon:'rect'
                }, {
                    name:'LCK',
                    icon:'rect'
                }, {
                    name:'LCS',
                    icon:'rect'
                },{
                    name:'LMS',
                    icon:'rect'
                },{
                    name:'VCS',
                    icon:'rect'
                }],
            orient : 'vertical',
            x : 'right'
        },
        series : [ {
            type : 'graph', //关系图
            //name : "力导图large", //系列名称，用于tooltip的显示，legend 的图例筛选，在 setOption 更新数据和配置项时用于指定对应的系列。
            layout : 'force', //图的布局，类型为力导图，'circular' 采用环形布局，见示例 Les Miserables
            force: {
                layoutAnimation:true,
                // xAxisIndex : 0, //x轴坐标 有多种坐标系轴坐标选项
                // yAxisIndex : 0, //y轴坐标
                gravity:0.08,  //节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
                edgeLength: 300,  //边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
                repulsion: 1000  //节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
            },
            legendHoverLink : true,//是否启用图例 hover(悬停) 时的联动高亮。
            hoverAnimation : true,//是否开启鼠标悬停节点的显示动画
            coordinateSystem : null,//坐标系可选
            xAxisIndex : 0, //x轴坐标 有多种坐标系轴坐标选项
            yAxisIndex : 0, //y轴坐标
            roam : true,//是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
            draggable : true,
            nodeScaleRatio : 0.6,//鼠标漫游缩放时节点的相应缩放比例，当设为0时节点不随着鼠标的缩放而缩放
            focusNodeAdjacency : true,//是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点。
            //symbol:'roundRect',//关系图节点标记的图形。ECharts 提供的标记类型包括 'circle'(圆形), 'rect'（矩形）, 'roundRect'（圆角矩形）, 'triangle'（三角形）, 'diamond'（菱形）, 'pin'（大头针）, 'arrow'（箭头）  也可以通过 'image://url' 设置为图片，其中 url 为图片的链接。'path:// 这种方式可以任意改变颜色并且抗锯齿
            //symbolSize:10 ,//也可以用数组分开表示宽和高，例如 [20, 10] 如果需要每个数据的图形大小不一样，可以设置为如下格式的回调函数：(value: Array|number, params: Object) => number|Array
            //symbolRotate:,//关系图节点标记的旋转角度。注意在 markLine 中当 symbol 为 'arrow' 时会忽略 symbolRotate 强制设置为切线的角度。
            //symbolOffset:[0,0],//关系图节点标记相对于原本位置的偏移。[0, '50%']
            edgeSymbol : [ 'none', 'none' ],//边两端的标记类型，可以是一个数组分别指定两端，也可以是单个统一指定。默认不显示标记，常见的可以设置为箭头，如下：edgeSymbol: ['circle', 'arrow']
            edgeSymbolSize : 10,//边两端的标记大小，可以是一个数组分别指定两端，也可以是单个统一指定。
            itemStyle : {//===============图形样式，有 normal 和 emphasis 两个状态。normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                normal : { //默认样式
                    label : {
                        show : true,
                    },
                    /*
                    borderType : 'solid', //图形描边类型，默认为实线，支持 'solid'（实线）, 'dashed'(虚线), 'dotted'（点线）。
                    borderColor : 'rgba(255,215,0,0.4)', //设置图形边框为淡金色,透明度为0.4
                    borderWidth : 2, //图形的描边线宽。为 0 时无描边。
                    opacity : 1
                    */
                    // 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。默认0.5

                }
            },
            lineStyle : { //==========关系边的公用线条样式。
                normal : {
                    color : 'rgba(0,0,0)',
                    width : '1',
                    type : 'solid', //线的类型 'solid'（实线）'dashed'（虚线）'dotted'（点线）
                    curveness : 0, //线条的曲线程度，从0到1
                    opacity : 0.2
                    // 图形透明度。支持从 0 到 1 的数字，为 0 时不绘制该图形。默认0.5
                },
                emphasis : {//高亮状态
                    color : 'rgba(0,0,0)',
                    width : '1',
                    type : 'solid', //线的类型 'solid'（实线）'dashed'（虚线）'dotted'（点线）
                    curveness : 0, //线条的曲线程度，从0到1
                    opacity : 1
                }
            },
            label : { //=============图形上的文本标签
                normal : {
                    show : false,//是否显示标签。
                },
                emphasis : {//高亮状态
                    show : false,
                    position : 'buttom',//标签的位置。['50%', '50%'] [x,y]
                    distance : 10,
                    textStyle : { //标签的字体样式
                        color : '#',
                        fontStyle : 'normal',//文字字体的风格 'normal'标准 'italic'斜体 'oblique' 倾斜
                        fontWeight : 'normal',//'normal'标准'bold'粗的'bolder'更粗的'lighter'更细的或100 | 200 | 300 | 400...
                        fontFamily : 'sans-serif', //文字的字体系列
                        fontSize : 12, //字体大小
                    }
                }
            },
            edgeLabel : {//==============线条的边缘标签
                normal : {
                    show : false
                },
                emphasis : {//高亮状态

                }
            },
            //别名为nodes   name:影响图形标签显示,value:影响选中后值得显示,category:所在类目的index,symbol:类目节点标记图形,symbolSize:10图形大小
            //label:标签样式。
            data : [{
                id : 0,
                category : 0,
                name : 'FPX',
                symbol : 'image://../static/team_icon/FPX.png',
                symbolSize : 250
            },{
                id : 1,
                category : 0,
                name : 'IG',
                symbol : 'image://../static/team_icon/IG.png',
                symbolSize : 150
            },{
                id : 2,
                category : 0,
                name : 'RNG',
                symbol : 'image://../static/team_icon/RNG.png',
                symbolSize : 100
            },{
                id : 3,
                category : 1,
                name : 'G2',
                symbol : 'image://../static/team_icon/G2.png',
                symbolSize : 220
            },{
                id : 4,
                category : 1,
                name : 'FNC',
                symbol : 'image://../static/team_icon/FNC.png',
                symbolSize : 150
            },{
                id : 5,
                category : 1,
                name : 'SPY',
                symbol : 'image://../static/team_icon/SPY.png',
                symbolSize : 100
            },{
                id : 6,
                category : 2,
                name : 'T1',
                symbol : 'image://../static/team_icon/T1.png',
                symbolSize : 150
            },{
                id : 7,
                category : 2,
                name : 'GRF',
                symbol : 'image://../static/team_icon/GRF.png',
                symbolSize : 150
            },{
                id : 8,
                category : 2,
                name : 'DWG',
                symbol : 'image://../static/team_icon/DWG.png',
                symbolSize : 150
            },{
                id : 9,
                category : 3,
                name : 'TL',
                symbol : 'image://../static/team_icon/TL.png',
                symbolSize : 100
            },{
                id : 10,
                category : 3,
                name : 'C9',
                symbol : 'image://../static/team_icon/C9.png',
                symbolSize : 100
            },{
                id : 11,
                category : 3,
                name : 'CG',
                symbol : 'image://../static/team_icon/CG.png',
                symbolSize : 100
            },{
                id : 12,
                category : 4,
                name : 'JT',
                symbol : 'image://../static/team_icon/JT.png',
                symbolSize : 100
            },{
                id : 13,
                category : 4,
                name : 'AHQ',
                symbol : 'image://../static/team_icon/AHQ.png',
                symbolSize : 100
            },{
                id : 14,
                category : 4,
                name : 'HKA',
                symbol : 'image://../static/team_icon/HKA.png',
                symbolSize : 100
            },{
                id : 15,
                category : 5,
                name : 'GAM',
                symbol : 'image://../static/team_icon/GAM.png',
                symbolSize : 100
            }],
            categories : [ //symbol name：用于和 legend 对应以及格式化 tooltip 的内容。 label有效
                {
                    name : 'LPL',
                    symbol : 'rect',
                }, {
                    name : 'LEC',
                    symbol : 'rect'
                }, {
                    name : 'LCK',
                    symbol : 'rect'
                }, {
                    name : 'LCS',
                    symbol : 'rect'
                }, {
                    name : 'LMS',
                    symbol : 'rect'
                }, {
                    name : 'VCS',
                    symbol : 'rect'
                }],
            links : [ //edges是其别名代表节点间的关系数据。
                {
                    source : 0,
                    target : 1,
                    label : {
                        show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                },{
                    source : 0,
                    target : 3,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:0',
                    }
                },{
                    source : 0,
                    target : 4,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                },{
                    source : 1,
                    target : 7,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                },{
                    source : 3,
                    target : 6,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                },{
                    source : 3,
                    target : 8,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                },{
                    source : 6,
                    target : 5,
                    label : {show : true,
                        fontSize : 16,
                        color : '#CD0000',
                        formatter : '3:1'
                    }
                }
            ]
        }]
    };

    myChart.setOption(option);
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
    teams = ['FPX', 'IG', 'RNG', 'G2', 'FNC', 'SPY', 'T1', 'GRF', 'DWG', 'TL', 'C9', 'CG', 'JT', 'AHQ', 'HKA', 'GAM'];
    myChart.on('click', function (param) {
        var name = param.name;
        if(teams.find((t) => t == name)) {
            //跳转相应队伍页面
            location.href='http://127.0.0.1:5000/team/'+name
            //window.open('http://127.0.0.1:5000/team/'+name)
        } else {
            alert('not clickable');
        }
    });
</script>
</body>
</html>